
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.header{
  margin-top: 14.7vh;
  text-align:center;
}

.mid-container{
  background-color: rgb(244, 246, 248);
  height: 85.2vh;
  position: relative;
}

.middle-section{
  text-align: center;
  padding-left: 2%;
}

.middle-section > input{
  width: 60%;
  padding: 1.2em;
  border-radius: 20px;
  border:none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;

}
.sidenav {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #fff;
  box-shadow: 13px 1px 30px -4px rgba(0,0,0,0.17);
  -webkit-box-shadow: 13px 1px 30px -4px rgba(0,0,0,0.17);
  -moz-box-shadow: 13px 1px 30px -4px rgba(0,0,0,0.17);
}


.img1{
  text-align: center;
  margin: 40% 0;
}
.firstImg{
  margin-top: 30%;
}

div>i, .img1{
  color: rgb(130, 138, 145);
  font-size: 0.9rem;
  margin-bottom: 5%;
}
div>h2>i{
  margin-right: 8px;
}

div>i:hover{
  color:rgb(185, 185, 185);
}

input::placeholder{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

.upload-box{
  height: 180px;
  width: 180px;
  position: relative;
  background-color: #fff;
  left: 20vw;
  display: flex;
  align-items: center;
}
.upload-box>p{
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
}


.brand{
  width: 100%;
  height: 100%;
  width: 110px;
}

.vids{
  text-align: center;
  padding: 4.5% 0 3% 1%;
  color: rgb(152, 166, 173);
  text-align: left;
  margin-left: 10vw;
}

@media only screen and (max-width:700px) {
  body{
    text-align: center;
  }

.sidenav{
    width:100%;
    position: static;
    box-shadow: none;
  }
  .img1{
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .header{
    display: none;
  }
  .middle-section > input{
    border: 1px solid rgb(152, 166, 173);

  }

  input::placeholder{
    text-align: center;
  }

  .upload-box{
    position: static;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px rgb(152, 166, 173) solid;
    border-radius: 20px;
  }

  .vids{
    margin-top: 0;
    padding-top: 12%;
        padding-bottom: 5%;
    margin-left: 40%;
  }
  div > h2 > i{
    transform: rotate(90deg);
  }
  hr {
    border : 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  hr:last-child{
    margin-bottom: 0;
  }
  /*
  .header{
    margin-top: 20%;
  }

  .header, .brand{
    height: 100%;
    width: 100%;

  }
  .firstImg{
    margin-top: 10%;
  }

  .upload-box{

    margin-right: 15%;
  }

  .vids{
    margin-top: 0;
    padding-top: 6vh;
  }

  .mid-container{
    padding-left: 20%;
  } */

}
